@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString() ?? "UnknownController";
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString() ?? "UnknownAction";
    var currentPage = Context.Request.Path.Value;
    if (ViewContext.RouteData != null && ViewContext.RouteData.Values.ContainsKey("action"))
    {
        currentAction = ViewContext.RouteData.Values["action"].ToString();
    }
    else
    {
        currentAction = "UnknownAction";
    }
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">25350069</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")" asp-controller="Home" asp-action="Index" asp-area="">Лб 1</a>
        <a class="nav-item nav-link @(currentController == "Product" && currentAction == "Index" ? "active" : "")" asp-controller="Product" asp-action="Index" asp-area="">Каталог</a>
        <a class="nav-item nav-link @(currentPage == "/Admin/Index" ? "active" : "")" asp-area="AdminArea" asp-page="/Index">Администрирование</a>
    </div>
</nav>