@model WEB_253503_Kudosh.Domain.Entities.Cart

<div class="cart-info navbar-text ms-auto">
    <span style="color: white">@Model.TotalPrice.ToString("0.00") руб</span>
    <i class="fa-solid fa-cart-shopping" style="color: white"></i><span style="color: white">(@Model.Count)</span>
</div>