<a class="navbar-text ms-auto" asp-controller="CartController" asp-action="Index">
    <div class="cart-info">
        <span>0.00 руб</span>
        <i class="fa-solid fa-cart-shopping"></i>(0)
    </div>
</a>